# ignore node_modules
/node_modules

# ignore dist
/dist

#ignore tmp
/tmp

# ignore doc source
/src/doc
documentation.yml

# ignore gitignore
.gitignore

# ignore eslint
.eslintignore
.eslintrc.json

#ignore package-lock
package-lock.json

#ignore files
base.js
/src/experimernt.js
index.html
rollup.config.js
tsconfig.json