# ignore node_modules
/node_modules

# ignore dist
/dist

#ignore tmp
/tmp

# ignore doc source
/src/doc
documentation.yml
markdown.json

# ignore gitignore
.gitignore

# ignore eslint
.eslintignore
.eslintrc.json

#ignore package-lock
package-lock.json

#ignore files
base.js
/src/experiment.js
index.html
rollup.config.js
tsconfig.json

.travis.yml

#ignore vscode
/.vscode

#ignore coverage
/src/test/coverage